.header {
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-title {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.logo-subtitle {
  margin-top: 10px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 35px;
  list-style-type: none;
}

.menu_item {
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
}

.menu_item:hover,
.menu_active {
  color: #fafafa;
}
.menu_active::after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background: #f1cdb3;
}
