* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}

html,
body {
  position: relative;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial;
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

.start-screen {
  background: url(../assets/img/noise_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.descr {
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
}

.btns {
  width: 207px;
  height: 52px;
  border: 2px solid #fddcc4;
  border-radius: 100px;
  background: transparent;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
}

.btns:hover {
  background: #fddcc4;
}

/* Popup */

.popup {
  position: fixed;
  display: none;
  align-items: center;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 500px;
  background-color: #fafafa;
  border-radius: 9px;
  column-gap: 30px;
  opacity: 1;
  z-index: 999;
  /* transition: all 0.3s; */
}

.popup_btn {
  display: block;
  position: absolute;
  background: url(../assets/ico/Vector.svg) center no-repeat;
  top: -54px;
  right: -42px;
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.1s;
}

.popup_btn:active {
  transform: scale(0.9);
}

.popup_close {
  animation: popup-close 0.3s forwards;
}
.popupBg_close {
  animation: popupBg-close 0.3s forwards;
}

@keyframes popup-close {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
}
@keyframes popupBg-close {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.popup-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(41, 41, 41, 0.6);
}

.popup img {
  width: 500px;
  border-radius: 9px;
}

/* .popup-right {
  padding: 50px 20px 88px 30px;
} */

.popup-name {
  font-family: 'Georgia';
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #000000;
}

.popup-dog {
  margin-top: 10px;
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #000000;
}

.popup-descr {
  margin-top: 40px;
  max-width: 350px;
  font-family: 'Georgia';
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
}

.caracter {
  margin-top: 40px;
  font-family: 'Georgia';
  font-weight: 700;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
}
